{% block auth %}

    {% if user_name %}
    <p>добро пожаловать, {{ user_name }} <a href="{{ url_for('logout') }}">Выход</a></p>
    {% else %}
    <p>добро пожаловать, гость</p>
    {% if form %}
        <form action="{{ url_for('login') }}" method="post">
            {% with mess = get_flashed_messages(with_categories=true) %}
                {% if mess %}
                    {% for category, message in mess %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br>
            {{ form.csrf_token }}
            {% for field in form if field.name != 'csrf_token' %}
                {{ field.label }} {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %} {{ error }} {% endfor %}
                {% endif %}
                <br>
            {% endfor %}
            <input type="submit" value="OK">
        </form>
    {% endif %}
    <a href="{{ url_for('registration') }}">новый пользователь</a>

    {% endif %}

{% endblock %}